.ta-c {
    text-align: center;
}
.card {
    border-radius: 8px !important;
}
a{
    color: #fff !important;
}
a.black{
    color: #000 !important;
}
a:hover {
    color: #000 !important;
    text-decoration: none !important;
}
a.black:hover{
    color: #fff !important;
}
.card.card-light-orange {
    background: #ff7a00;
    color: #ffffff;
}
.card.card-light-green {
    background: #17dd10;
    color: #ffffff;
}
.navbar .navbar-brand-wrapper .brand-logo img {
    height: 60px!important;
}
.navbar .navbar-brand-wrapper .brand-logo-mini img {
    height: 40px!important;
}
.modal .modal-dialog .modal-content .modal-header{
    padding: 10px!important;
}
.modal .modal-dialog .modal-content .modal-body{
    padding: 10px!important;
}
.list-group-item{
    padding: 10px!important;
}
.modal-content{
    width: 70%!important;
}
.modal-bc{
    background-color: #111111b3!important;
}
.modal-header .close{
    padding: 0px!important;
    margin: 0px!important;
    color: #fff!important;
}
